extends ../layout

block content
  pre.
    &nbsp;          { --.\  |            
    &nbsp;           '-._\\ | (\___    ▄▄ •  ▄▄▄· • ▌ ▄ ·. ▄▄▄ .           ▌ ▐·▄▄▄ .▄▄▄  
    &nbsp;               `\\|{/ ^ _)- ▐█ ▀ ▪▐█ ▀█ ·██ ▐███▪▀▄.▀·    ▪     ▪█·█▌▀▄.▀·▀▄ █·
    &nbsp;           .'^^^^^^^  /`    ▄█ ▀█▄▄█▀▀█ ▐█ ▌▐▌▐█·▐▀▀▪▄     ▄█▀▄ ▐█▐█•▐▀▀▪▄▐▀▀▄ 
    &nbsp;          //\   ) ,  /      ▐█▄▪▐█▐█ ▪▐▌██ ██▌▐█▌▐█▄▄▌    ▐█▌.▐▌ ███ ▐█▄▄▌▐█•█▌
    &nbsp;    ,  _.'/  `\<-- \<	     ·▀▀▀▀  ▀  ▀ ▀▀  █▪▀▀▀ ▀▀▀      ▀█▄▀▪. ▀   ▀▀▀ .▀  ▀
    &nbsp;     `^^^`     ^^   ^^
  p.parent Hit Enter to Continue
  form#input-form(action="/game-over" method="post")
    label#command.path(for="command")  
      input.command(type="text", name="command", autocomplete="off", autofocus)
  script(type="text/javascript", src="/javascripts/logic.js")
  script(type="text/javascript", src="/javascripts/game-over.js")
