extends layout

block content
  .parent
    .dragonInput
      | Welcome to DragonScript, type help for assistance
      pre.
        &nbsp;                                 /   \       
                                  )      ((   ))     (
        (@)                      /|\      ))_((     /|\
        |-|                     / | \    (/\|/\)   / | \                      (@)
        | | -------------------/--|-voV---\`|'/--Vov-|--\---------------------|-|
        |-|                         '^`   (o o)  '^`                          | |
        | |                               `\Y/'                               |-|
        |-|                                                                   | |
        | |                 D  R  A  G  O  N  S  C  R  I  P  T                |-|
        |-|                                                                   | |
        | |                                                                   |-|
        |_|___________________________________________________________________| |
        (@)                l   /\ /        ( (       \ /\   l               `\|-|
                           l /   V          \ \       V   \ l                 (@)
                           l/               _) )_          \I
                                           `\ /'
      if loggedOut
        !{loggedOut}
  form#input-form.path(action="/dragon" method="post")
    label(for="command")  
      |~DragonScript $&nbsp;
      input#command.command(type="text", name="command", autocomplete="off", autofocus)
  script(type="text/javascript", src="/javascripts/text.js")
  script(type="text/javascript", src="/javascripts/logic.js")
  script(type="text/javascript", src="/javascripts/dragon.js")
