extends layout

block content
  .ballon
  .parent    
  form#input-form(action="/" method="post")
    label#command.path(for="command")  
      |$&nbsp;
      input.command(type="text", name="command", autocomplete="off", autofocus)
  script(type="text/javascript", src="/javascripts/text.js")
  script(type="text/javascript", src="/javascripts/logic.js")
  script(type="text/javascript", src="/javascripts/client.js")
