doctype html
html
  head
    title Roberto Ortega
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" href="http://cpansearch.perl.org/src/LEEDO/App-Alice-0.17/share/static/image/terminal.png")
  body
    block content
