extends layout

block content
  .parent
  form#input-form(action="/dragon/signup" method="post")
    .append
      .signupInfo
    .error
      if error
        !{error}
    .commandLine
      label#command.path(for="command")  
        |~DragonScript/signup $&nbsp;
        input#command.command(type="text", name="command", autocomplete="off", autofocus)
    input.button(type="submit" value="")
  p.invisible
    if place
      !{place}
  script(type="text/javascript", src="/javascripts/text.js")
  script(type="text/javascript", src="/javascripts/logic.js")
  script(type="text/javascript", src="/javascripts/signup.js")
