body {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: black;
  font-family: monospace;
}

input {
  background-color: black;
  border: none;
  color: white;
  outline: none;
  font-family: monospace;
  font-size: 100%;
  width: 80%;
}

.button {
  width: 0.1px;
  height: 0.1px;
}

.intro, .parent, .path, .signupInfo, .body, .log {
  margin-left: 30px;
}

.input:before {
  content: '$ ';
}

.dragonInput:before {
  content: '~DragonScript $ ';
}
