body {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #0A141F;
  font-family: monospace;
}

input {
  background: #0A141F;
  border: none;
  color: white;
  outline: none;
  font-family: monospace;
  font-size: 100%;
  width: 80%;
}

a {
  text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.button {
  width: 0.1px;
  height: 0.1px;
}


.intro, .error, .parent, .path, .signupInfo, .message, .body, .log {
  margin-left: 30px;
}

.input:before {
  content: '$ ';
}

.balloons {
  float: right;
  padding-right: 30px;
}

.dragonInput:before {
  content: '~DragonScript $ ';
}

.invisible, .answer, .button {
  display: none;
  margin: 0;
  padding: none;
}
